<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>文章列表</title>
</head>
<body>
    <h1>文章列表</h1>
    <form>
        <div class='row'>
            <p class='form-inline'>
                <label>搜索：</label>
                <input type = 'text'
                    class = 'form-control'
                    name = 'search'
                    placeholder='在这里搜索...'
                >
            </p>
        </div>
        <div class="row">
            <p class='form-inline'>
                <label>标签查询：</label>
                <input type='text'
                    class = 'form-control'
                    name = 'search_tag'
                    placeholder='查询相关标签...'
                >
            </p>
        </div>
        <button type='submit'>搜索</button>
    </form>

    {% if search %}
        {% if page_obj %}
            <h4>
                <span style='font-size:larger'>"{{ search }}"</span>
                {%if search_tag%}
                    和标签<span style='font-size:larger'>"{{ search_tag }}"</span>
                {%endif%}
                的搜索结果如下：
            </h4>
            <hr>        
        {% else %}
            <h4>
                <span style='font-size:larger'>暂无"{{ search }}"</span>
                {%if search_tag %}
                    和标签<span style='font-size:larger'>"{{ search_tag }}"</span>
                {%endif%}
                相关的文章。
            </h4>
            <hr>
        {% endif %}
    {%else%}
        {%if search_tag %}
            {% if page_obj %}
                <h4>
                    {%if search_tag %}
                        标签<span style='font-size:larger'>"{{ search_tag }}"</span>
                    {%endif%}
                    的搜索结果如下：
                </h4>
                <hr>        
            {% else %}
                <h4>
                    <span style='font-size:larger'>暂无</span>
                    {%if search_tag %}
                        标签<span style='font-size:larger'>"{{ search_tag }}"</span>
                    {%endif%}
                    相关的文章。
                </h4>
                <hr>
            {% endif %}
        {%endif%}
    {% endif %}

    <!-- 显示文章列表 -->
        <ul>
            {% for article in page_obj.object_list %}
            <li>
                <h2><a href="{% url 'article_detail' article.id %}">{{ article.title }}</a></h2>
                <p>标签：
                     <span>
                         {%for tag in article.tags.all %}
                        <a href="{%url 'article_list'%}?search={{search}}&search_tag={{search_tag}}&tag={{tag}}">{{tag}}</a>
                        {%endfor%}
                    </span>
                </p>
                <p>{{ article.content|truncatewords:20 }}</p> <!-- 仅显示前20个词 -->
                <p>作者: {{ article.author.username }} | 创建于: {{ article.created_at }}</p>
            </li>
            {% empty %}
            <li>目前没有文章。</li>
            {% endfor %}
        </ul>
        
    <!-- 分页导航 -->
    <div>
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1&search={{search}}&search_tag={{search_tag}}&tag={{tag}}">&laquo; 第一页</a>
                <a href="?page={{ page_obj.previous_page_number }}&search={{search}}&search_tag={{search_tag}}&tag={{tag}}">上一页</a>
            {% endif %}

            <span>第 {{ page_obj.number }} 页，共 {{ page_obj.paginator.num_pages }} 页</span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}&search={{search}}&search_tag={{search_tag}}&tag={{tag}}">下一页</a>
                <a href="?page={{ page_obj.paginator.num_pages }}&search={{search}}&search_tag={{search_tag}}&tag={{tag}}">最后一页 &raquo;</a>
            {% endif %}
        </span>
    </div>

    {%if user.is_authenticated%}
        <br>
        <a href="{% url 'create_article' %}">创建新文章</a><br>
        <a href="{% url 'user_home' %}?page=1">返回主页</a>
    {%else%}
        <br>
        <p>还没有帐号?<a href="{% url 'register' %}">注册</a></p>
        <p>想回主页看看?<a href="{% url 'login' %}">登录</a></p>
    {%endif%}
</body>
</html>
