<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>文章列表</title>
</head>
<body>
    <h1>文章列表</h1>

    <div class='row'>
        <form class='form-inline'>
            <label>搜索：</label>
            <input type = 'text'
                class = 'form-control'
                name = 'search'
                placeholder='在这里搜索...'
                required
            >
        </form>
    </div>

    {% if search %}
        {% if page_obj %}
            <h4>"{{ search }}"</span>的搜索结果如下：</h4>
            <hr>        
        {% else %}
            <h4>暂无"{{ search }}"</span>相关的文章。</h4>
            <hr>
        {% endif %}
    {% endif %}

    <!-- 显示文章列表 -->
    <ul>
        {% for article in page_obj.object_list %}
        <li>
            <h2><a href="{% url 'article_detail' article.id %}">{{ article.title }}</a></h2>
            <p>{{ article.content|truncatewords:20 }}</p> <!-- 仅显示前20个词 -->
            <p>作者: {{ article.author.username }} | 创建于: {{ article.created_at }}</p>
        </li>
        {% empty %}
        <li>目前没有文章。</li>
        {% endfor %}
    </ul>

    <!-- 分页导航 -->
    <div>
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; 第一页</a>
                <a href="?page={{ page_obj.previous_page_number }}">上一页</a>
            {% endif %}

            <span>第 {{ page_obj.number }} 页，共 {{ page_obj.paginator.num_pages }} 页</span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">下一页</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">最后一页 &raquo;</a>
            {% endif %}
        </span>
    </div>

    <br>
    <a href="{% url 'create_article' %}">创建新文章</a><br>
    <a href="{% url 'user_home' %}">返回主页</a>
</body>
</html>
