<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>用户主页</title>
</head>
<body>
    <h2>欢迎, {{ user.username }}</h2>
    <p>注册时间: {{ user.date_joined }}</p>
    <p>个人简介: {{ user.bio }}</p>
    {%if user.avatar %}
        <div>头像:</div>
        <img src="{{user.avatar.url}}" style='max-height:15%;max-width:10%'>
    {%else%}
        <p>暂无头像</p>
    {%endif%}
    <br>
    <br>
    <form method ="POST" enctype="multipart/form-data">
        {%csrf_token%}
        <div class="form-group">
            <label for = "avatar">上传头像</label>
            <input type='file' name="avatar"id='avatar'>
            <button type='submit'>提交头像</button>
        </div>
    </form>

    <h3>我的文章</h3>
    <ul>
        {% for article in article_page.object_list %}
            <li>
                <a href="{% url 'article_detail' article.id %}">{{ article.title }}</a> - 创建于 {{ article.created_at }}
                <div>收藏数：<strong>{{article.favorite_count}}</strong> 点赞数：<strong>{{article.like_count}}</strong></div>
                <a href="{% url 'update_article' article.id %}">修改</a>
                <a href="{% url 'delete_article' article.id %}">删除</a>
            </li>
        {% empty %}
            <li>你还没有留下过一些文字。</li>
        {% endfor %}
    </ul>
    {%if articles %}
        <div>
            <span>第 {{ article_page.number }} 部分，共 {{ article_page.paginator.num_pages }} 部分</span>
            <br>
            <span class="pagination">
                {% if article_page.has_previous %}
                    <a href="?page=1" class="first">&laquo;第一部分</a>
                    <a href="?{{ article_page.previous_page_number.querystring }}" class="prev">&lsaquo;上一部分</a>
                {% else %}
                    <span class="disabled first">&laquo;第一部分</span>
                    <span class="disabled prev">&lsaquo;上一部分</span>
                {% endif %}
                {%for page in article_page.pages%}
                    {%if page %}
                        {%if page == article_page.number%}
                            <span class="current page"><strong>{{page}}</strong></span>
                        {%else%}
                            <a href="?{{page.querystring}}" class='page'>{{page}}</a>
                        {%endif%}
                    {%else%}
                        <a>...</a>
                    {%endif%}
                {%endfor%}
                {% if article_page.has_next %}
                    <a href="?{{ article_page.next_page_number.querystring }}" class="next">下一部分&rsaquo;</a>
                    <a href="?page={{ article_page.paginator.num_pages }}" class="last">最后一部分&raquo;</a>
                {% else %}
                    <span class="disabled next">下一部分&rsaquo;</span>
                    <span class="disabled last">最后一部分&raquo;</span>
                {% endif %}
            </span>
        </div>
    {%endif%}
    
    <h3>我的收藏夹</h3>
    <ul>
        {% for favorite in favorite_articles %}
            <li>
                <a href="{% url 'article_detail' favorite.article.id %}">{{ favorite.article.title }}</a> - 收藏于 {{ favorite.added_at }}
            </li>
        {% empty %}
            <li>这些文章还没有合你口味的。</li>
        {% endfor %}
    </ul>

    <h3>我的黑名单</h3>
    <ul>
        {% for blacklist in blacklists %}
            <li>
                于{{blacklist.created_at}}拉黑了<strong>{{blacklist.blocker}}</strong>
                <form action="{% url 'delete_blacklist' blacklist.id %}" method = "POST">
                    {% csrf_token %}
                    <button type="submit">移出黑名单</button>
                </form>
            </li>
        {% empty %}
            <li>你尚未让任何人保持缄默。</li>
        {% endfor %}
    </ul>

    <br>
    <h3><a href="{%url 'notifications:user_mailbox'%}">我的信箱</a></h3>
    {%if not_read_notifications.count%}
        <p style='color:red;font-size:30px'>你有<strong>{{not_read_notifications.count}}</strong>条未读信息</p>
    {%endif%}
    <hr>
    <br>
    <a href="{% url 'create_article' %}">创建新文章</a><br>
    <a href="{% url 'article_list' %}?page=1&search=&search_tag=&tag=None">看看别的文章</a>
    <a href="{% url 'logout' %}">登出</a>
    <a href="{% url 'delete_account' %}">注销</a>
</body>
</html>
