<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>用户信箱</title>
</head>
<body>
    {% load  humanize %}
    <h1>我的信箱</h1>
    <a href='/users/home/'>返回主页</a>
    <br>
    <br>
    <form action="{% url 'notifications:clean_mailbox' %}" method = "POST">
        {% csrf_token %}
        <button type="submit">清空邮箱</button>
    </form>
    <br>
    <a href="{% url 'notifications:user_mailbox'%}?tag=comment">评论相关</a>
    <a href="{% url 'notifications:user_mailbox'%}?tag=favorite">收藏相关</a>
    <a href="{% url 'notifications:user_mailbox'%}?tag=like">点赞相关</a>
    <hr>
    {% csrf_token %}
        {%for notification in notifications%}
            {%if notification.tag == "like"%}
                <p>
                    <div style = "font-size:larger">
                        <span style="color:blue">[{{notification.tag}}]</span>
                        <strong>{{notification.sender.username}}</strong>
                    </div>
                    {{notification.content}}<strong>{{notification.article.title}}</strong>
                </p>
            {% elif  notification.tag == "favorite"%}
                <p>
                    <div style = "font-size:larger">
                        <span style="color:red">[{{notification.tag}}]</span>
                        <strong>{{notification.sender.username}}</strong>
                    </div>
                    {{notification.content}}<strong>{{notification.article.title}}</strong>
                </p>
            {%else%}
                <p>
                    <div style = "font-size:larger">
                        <span style="color:green">[{{notification.tag}}]</span>
                        <strong>{{notification.sender.username}}</strong>
                    </div>
                    {{notification.content}}<strong>{{notification.article.title}}</strong>
                </p>
            {%endif%}
            {%if notification.comment%}
                <p style = "font-size:25px;color:purple">{{notification.comment}}</p>
                <br>
            {%endif%}
            <p style = "font-size = small">{{notification.created_at|naturaltime}}</p>
            <a href="{% url 'notifications:delete_notification' notification.id %}">删除</a>
            <br>
            <form   action="{% url 'notifications:read' notification.id %}?tag={{notification.tag}}"
                    method="post"
            >
            {% csrf_token %}
                {% if notification.read %}
                    <button type="submit" disabled>已读</button>  
                {% else %}
                    <button type="submit">未读</button> 
                {% endif %}
            </form>
            <hr> 
            {% empty %}
            <p style = "font-size:larger"><strong>空空如也~~</strong></p>
        {% endfor %}
    <hr>
</body>
</html>